body {
	display: flex;
	justify-content: center;
	align-content: center;
}

.un {
	background-image: url(heart1.gif);
}

.deux {
	background-image: url(pinkheart.gif);	
}

.lettre {
	position: relative;
	inset: 0;
	margin-left: 350px;
	margin-right: 350px;
	margin-top: 10%;
	margin-bottom: 20%;
	text-align: center;
	background-color: white;
	padding: 50px;
	overflow: auto;
}

a {
	background-color: hotpink;
	color: white;
	padding: 5px;
}

h1 {
	color: hotpink;
}

@media screen and (max-width: 800px){
	body {
		margin-left: 5px;
		margin-right: 5px;
	}
	.lettre {
		position: relative;
	}
	h1 {font-size: 120%;}
	p{font-size: 80%;}
}
